. contato {
    cor de fundo :  var ( --branco );
    preenchimento :  1 em ;
}

. contato__titulo ,
. contato__texto {
    plano de fundo :  var ( --azul-degrade );
    -webkit-background-clip : texto;
    -webkit-text-fill-color : transparente;
    background-clip : texto;
}

. contato__titulo {
    tamanho da fonte :  18 px ;
    espessura da fonte :  500 ;
}

. contato__texto {
    espessura da fonte :  300 ;
    margem :  1 em  0 ;
}

. contato__email {
    preenchimento :  1 em ;
    borda :  var sólida de 1 px ( --azul );
    raio da borda :  24 px ;
    largura :  90 % ;
    cor :  var ( --azul );
}

. contato__email :: placeholder {
    família de fontes :  var ( -fonte-principal );
    cor :  var ( --azul );
    fundo :  url ( "../img/Email.svg" ) sem repetição;
    preenchimento-esquerdo :  2 em ;
}